<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../css/aquamarine.css">
</head>

<body>
    <div id="page-1" style="display: block;">
        <top>
            <span class="welcome_to_aquamarine">Welcome to Aquamarine!</span>
            <img class="welcome_top_img" src="../../img/welcome/welcome1.png">
        </top>
        <bottom>
            <div class="welcome_text_box">Welcome to Aquamarine! It seems you're not logged in? Let's get this device set up!</div>
            <a class="welcome_next" href="javascript:void(0)" onclick="load_welcome_page(1, 2)">Next</a>
        </bottom>
    </div>

    <div id="page-2" style="display: none;">
        <top>
            <span class="welcome_header">Do you already have a Aquamarine account?</span>
        </top>
        <bottom>
            <div class="welcome_text_box" style="margin-top: 75px; margin-left: 70px; width: 160px;">
            
                <div style="padding-bottom: 25px; padding-top: 25px; text-align: center; word-spacing: 50px;">
                    <a class="welcome_text_box" style="margin: 0;" href="javascript:void(0)" onclick='alert("Let\x27s log into your account!"); load_welcome_page(2, 4)'>Yes</a>
                    <a class="welcome_text_box" style="margin: 0;" href="javascript:void(0)" onclick='alert("Let\x27s create an account!"); load_welcome_page(2, 3)'>No</a>
                </div>

            </div>
        </bottom>
    </div>

    <div id="page-3" style="display: none;">
        <top>
            <img class="welcome_top_img" src="../../img/welcome/welcome2.png" style="width: 300px; margin-left: 50px;">
        </top>
        <bottom>
            <div class="welcome_text_box">
                <span class="welcome_text_box_header">What is Aquamarine?</span>
                
                Aquamarine is an online social media platform designed to help 3DS and Wii U players communicate.
            
            </div>
            <a class="welcome_next" href="javascript:void(0)" onclick="load_welcome_page(3, 5)">Next</a>
        </bottom>
    </div>

    <div id="page-4" style="display: none;">
        <top>
            <span class="welcome_header">Please enter your Aquamarine account credentials.</span>
        </top>
        <bottom>
            <form class="welcome_account_form" action="https://api.olv.nonamegiven.xyz/v1/people/login" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="NNID..." name="nnid">
                <input type="password" placeholder="Password..." name="password">

                <input type="submit">
            </form>
        </bottom>
    </div>

    <div id="page-5" style="display: none;">
        <top>
            <span class="welcome_header">Please enter the credentials you want to make your Aquamarine account with.</span>
        </top>
        <bottom>
            <form class="welcome_account_form" action="https://api.olv.nonamegiven.xyz/v1/people" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="NNID..." name="nnid" id="nnid" autocomplete="off">
                <input type="password" placeholder="Password..." name="password" id="password" autocomplete="off">
                <input type="password" placeholder="Confirm Password..." id="confirmPassword" autocomplete="off">

                <input type="submit" id="submit2" disabled="disabled">
            </form>
        </bottom>
    </div>
    
</body>

<script id="disableSidebar" src="../../../js/aquamarine_user_creation.js"></script>
<script>cave.snd_stopBgm(); cave.snd_playBgm("BGM_CAVE_SYOKAI");</script>
