
<%- include('partials/header') %>

<body>
    <long style="text-align: center;">
        This is the activity feed. Post's will be put here depending on your following. Stay tuned!
    </long>
</body>


<script src="../../js/aquamarine.js"></script>
</html>