<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../css/aquamarine.css">
</head>
<body>
    <long style="text-align: center;">
        This is the activity feed. Post's will be put here depending on your following. Stay tuned!
    </long>
</body>
<script src="../../js/base64.min.js"></script>
<script src="../../js/aquamarine.js"></script>
</html>