
<%- include('partials/header') %>

<body>
    <long style="text-align: center;">
        This is the activity feed. Post's will be put here depending on your following. Stay tuned!

        <div id="test" style=""></div>
    </long>
    
</body>

<script src="../../js/aquamarine.js"></script>
</html>