
<%- include('partials/header') %>

<body>
    <top>
        <img src="../../../img/banners-ctr/<%= community.id %>.jpg">
        <div class="community_data"></div>
    </top>

    <long style="text-align: center; height: 800px;">

    </long>
</body>

<script src="../../js/CTR/aquamarine.js"></script>