
<%- include('partials/header') %>

<body>
    <top>
        <h1>Hello!</h1>
    </top>
    <bottom>
        This is a little test page!
        <br>
        The community id is <%- id %>
        <br>
        <br>
        Press the My Menu button to increase the id!
    </bottom>
</body>

<script src="../../js/CTR/aquamarine.js"></script>