<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../css/aquamarine.css">
</head>

<body>
    <top></top>
    <bottom></bottom>
</body>

<script>cave.snd_playBgm("BGM_CAVE_SYOKAI")</script>