<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../../css/aquamarine.css">
</head>
<body>
    <top style="color: white; text-align: center; background-color: #54c2cc;">
        <span style="position: relative; top: 25px;"><%= error_code %></span>

        <br> <br>

        <%= error_string %>
    </top>

    <bottom>
        This will eventually be a ok button.
    </bottom>
</body>
<script src="../../../js/base64.min.js"></script>
<script id="disableSidebar" src="../../../js/aquamarine.js"></script>
</html>