<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../css/aquamarine.css">
</head>
<body>
    <long style="text-align: center;">
        Hello! This is the notifications page!
        
        <br> <br>

        This will show your accounts notifications..
    </long>
</body>
<script src="../../js/base64.min.js"></script>
<script src="../../js/aquamarine.js"></script>
</html>