<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../css/aquamarine.css">
</head>
<body>
    <top>
        <div class="communities_header_title_home">
            <span class="communities_header_title_text_home">Communities</span>
        </div>
    </top>

    <long style="text-align: center; height: 800px;">

        <div class="communities_wrapper_home">
            <div class="new_communities_home">New Communities</div>

            <div style="position: relative; width: 310px;">
                <% for (let i = 0; i < communities.length; i++) {
                    const community = communities[i];%>
                    
                    <div class="community_home">
                        <img class="community_icon_home" width="50px" src="../../img/icons/<%= community.id %>.jpg">
                        <div class="community_name_wrapper">
                            <span class="community_name_home"><%= community.name %> Community</span>
                            <span class="community_platform_indicator_home"><% if (community.platform == "3ds") {%>
                                3DS Games
                            <%} else {%>
                                Wii U Games
                            <%} %></span>
                        </div>
                        
                    </div>
        
                <%}%>
            </div>
        </div>
    </long>
</body>
<script>cave.toolbar_setActiveButton(3)</script>
<script defer src="../../js/jquery-3.7.1-min.js"></script>
<script defer src="../../js/base64.min.js"></script>
<script defer src="../../js/aquamarine.js"></script>
</html>