<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N3DS</title>

    <link rel="stylesheet" href="../../css/aquamarine.css">
</head>
<body>
    <long style="text-align: center; height: 800px;">
        Hello! This is the titles/show page!
        
        <br> <br>

        This will show all of the latest and greatest communities. Stay tuned.

        <br> <br> <br> <br> <br> <br> <br> <br> <br>

        <form action="https://api.olv.nonamegiven.xyz/v1/posts" method="post" enctype="multipart/form-data">
            <input type="text" name="body" placeholder="Tap here to add text..">
            <input type="submit">
        </form>

        <a href="./show"></a>
    </long>
</body>
<script>cave.toolbar_setActiveButton(3)</script>
<script defer src="../../js/jquery-3.7.1-min.js"></script>
<script defer src="../../js/base64.min.js"></script>
<script defer src="../../js/aquamarine.js"></script>
</html>