* {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAAAAAAdwx7eAAAA4ElEQVR4Ae3Yt5LDQAwDUP7/x94SOyuqdGJl+wJY0OcA1Jo3CpsE278N8EUH+N4QLVq06Jeio5N2nnZEgV41ehXoicHTA5Om86brt03QG/Km+dvGxtELedPDHX/EfeRtY/1JR6yZ8nBQ8ZH2XHFLkxd/n19vxPhHzPCvz/gPk+E/upVmQWl+GT8JMvwEM+am+dsm6KjQUaCBvRRAtGjRokWLFi1atOjPogPoP7r3/3D0/yb1/9x1/JI2/kjXf//ZHsL4roAvLfqrlv6CqKfWaijjGirEhuJT/XU3LVq0aNFHOlH+pCn6LDkAAAAASUVORK5CYII=');

    color: black;
}

top {
    /* background-color: red; */

    width: 400px;
    height: 220px;

    display: block;
}

bottom {
    /* background-color: aquamarine; */
    
    width: 320px;
    height: 240px;

    display: block;
    position: relative;

    left: 40px;
}

long {
    /* background-color: aquamarine; */

    width: 320px;

    display: block;
    position: relative;

    left: 40px;
}

.community_home {
    width: 310px;
    height: 50px;
    position: relative;

    padding-top: 5px;
    padding-bottom: 5px;

    left: 5px;

    border-bottom: dashed rgb(161, 161, 161) 1px;

    text-align: left;
}

.community_icon_home {
    margin-left: 5px;

    border-radius: 1px;

    vertical-align: middle;
    display: inline;
}

.community_name_home {
    font-weight: bold;
    font-size: 13px;

    vertical-align: top;

    display: inline-block;

    width: 200px;
    height: 100%;
}

.new_communities_home {
    width: 300px;
    
    position: relative;
    left: 5px;

    background-color: rgb(78, 157, 177);
    border-radius: 3px;

    padding: 5px;

    text-align: left;

    color: white;

    margin-bottom: 3px;
}

.community_name_wrapper {
    display: inline-block;

    width: 200px;

    vertical-align: middle;
}

.community_platform_indicator_home {
    display: inline-block;

    font-size: 12px;

    position: relative;
    bottom: 5px;
}