@charset 'UTF-8';
@font-face {
    font-family: 'MiiverseSymbols';
    src: url('./MiiverseSymbols-Regular.ttf');
}

* {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.symbols {
    font-family: 'MiiverseSymbols', sans-serif !important;
    font-weight: normal!important;
}

html,
body {
    margin: 0px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAAAAAAdwx7eAAAA4ElEQVR4Ae3Yt5LDQAwDUP7/x94SOyuqdGJl+wJY0OcA1Jo3CpsE278N8EUH+N4QLVq06Jeio5N2nnZEgV41ehXoicHTA5Om86brt03QG/Km+dvGxtELedPDHX/EfeRtY/1JR6yZ8nBQ8ZH2XHFLkxd/n19vxPhHzPCvz/gPk+E/upVmQWl+GT8JMvwEM+am+dsm6KjQUaCBvRRAtGjRokWLFi1atOjPogPoP7r3/3D0/yb1/9x1/JI2/kjXf//ZHsL4roAvLfqrlv6CqKfWaijjGirEhuJT/XU3LVq0aNFHOlH+pCn6LDkAAAAASUVORK5CYII=');

    color: black;
}

top {
    /* background-color: red; */

    width: 400px;
    height: 220px;

    display: block;
    position: absolute;
}

bottom {    
    width: 320px;
    height: 240px;

    display: block;
    position: absolute;

    left: 40px;

    top: 220px;
}

long {
    /* background-color: aquamarine; */

    width: 320px;

    display: block;
    position: absolute;
    left: 40px;
}

.communities_header_home {
    width: 400px;
    height: 220px;
}

.communities_header_title_home {
    position: relative;
    top: 165px;

    padding: 10px;

    background-color: rgb(233, 233, 233);
    border-top: rgb(130, 214, 214) 5px solid;

    text-align: left;
}

.communities_header_title_text_home {
    font-weight: bold;

    display: inline-block;

    margin: 5px;
    margin-left: 40px;
}

.communities_wrapper_home {
    position: relative;

    width: 320px;
    top: 220px;

    margin-top: 10px;
}

.community_home {
    width: 310px;
    height: 50px;
    position: relative;

    padding-top: 5px;
    padding-bottom: 10px;

    left: 5px;

    border-bottom: dashed rgb(161, 161, 161) 1px;

    text-align: left;

    z-index: 10;

    color: black;
    text-decoration: none;
}

.community_home * {
    color: black;
    text-decoration: none;
}

.community_icon_home {
    margin-left: 5px;

    vertical-align: middle;
    display: inline;
}

.community_name_home {
    font-weight: bold;
    font-size: 13px;

    vertical-align: top;

    display: inline-block;

    width: 200px;
    height: 100%;
}

.new_communities_home {
    width: 300px;
    
    position: relative;
    left: 5px;

    background-color: rgb(78, 157, 177);

    padding: 5px;

    text-align: left;

    color: white;

    margin-bottom: 3px;

    border-radius: 1px;
}

.community_name_wrapper {
    display: inline-block;

    width: 200px;

    vertical-align: middle;
}

.community_platform_indicator_home {
    display: inline-block;

    font-size: 12px;

    position: relative;
}

.welcome_top_img {
    width: 400px;
    position: relative;
    top: 12px;
}

.welcome_to_aquamarine {
    width: 400px;

    text-align: center;
    padding-top: 25px;

    display: inline-block;

    position: relative;

    color: rgb(78, 157, 177);

    font-weight: bold;
    letter-spacing: -1px;
}

.welcome_text_box {
    width: 240px;

    margin-left: 30px;
    margin-top: 40px;
    position: relative;

    background-color: rgb(236, 236, 236);
    border-radius: 5px;

    border-right: 2px solid rgb(220, 220, 220);
    border-bottom: 2px solid rgb(220, 220, 220);

    padding: 10px;

    color: black;
    text-decoration: none;
}

.welcome_next {
    width: 80px;
    height: 15px;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 20px;

    margin-right: 40px;

    position: fixed;

    display: block;

    bottom: 0;
    right: 0;

    text-align: center;

    border-top-left-radius: 10px;

    background-color: rgb(236, 236, 236);

    color: black;
    text-decoration: none;

    border: 1px solid rgb(220, 220, 220);
    border-right: none;
    border-bottom: none;
}

.welcome_question {
    font-weight: bold;
    font-size: 18px;

    text-align: center;

    display: block;
    margin-bottom: 10px;
}

.welcome_account {
    display: block;
    width: 100%;

    text-align: center;
    margin-top: 40px;

    font-weight: bold;
    letter-spacing: -1px;
}

.welcome_already_account {
    display: block;
    width: 100%;

    text-align: center;
    margin-top: 40px;

    font-weight: bold;
    letter-spacing: -1px;
}

.welcome_account_form {
    margin-top: 50px;
    width: 240px;

    margin-left: 40px;
}

.welcome_account_form input[type="text"], .welcome_account_form input[type="password"], .welcome_account_form input[type="confirmPassword"] {
    display: inline;

    padding: 5px;
    font-size: 18px;
    width: 226px;
}

.welcome_account_form input[type="submit"] {
    display: inline;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 10px;
    margin-left: 86px;
}